.title {
	margin: 5rem auto 0;
}

.product {
	margin-bottom: 4rem;
	list-style: none;
	p {
		margin:0;
		text-align: center;
	}
	.product-name {
		font-size: 2.4rem;
		text-transform: uppercase;
		font-weight: 200;
		line-height: 1.1;
	}
	.product-brand {
		font-style: italic;
		font-weight: 400;
		color: #ccc;
		margin-bottom: 1rem;
	}
	.product-image {
		box-sizing:border-box;
		width: 100%;
		border: 3px solid pink; //just for testing, so I can see where the image borders are
	}
	&:nth-of-type(3n+1) {
		margin-left:0;
	}
}